@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

body{
    max-height: 100vh;
    background-image: url(/Img/fundo-tela.jpg);
    background-size: 210vh;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 10px;
    justify-content: center;
    
}

header{
    height: 80px;
    width: 1100px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.74);
    display: inline-flex;
    
    
}

.header-nome{
    height: 100px;
    width: 65%;
    font-size: 22px;
    padding-top: 20px;
    padding-left: 15px
 
    
}

.header-tempo{
    height: 100px;
    width: 35%;
    font-size: 24px;
    padding-top: 26px;
    padding-left: 15px
 
}


.tela-jogo{
    height: 700px;
    width: 64%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    gap: 10px;

}

.card{
    aspect-ratio: 1/1;
    
    position: relative;
    transition: all 1s ease;
    transform-style: preserve-3d;

}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    transition: all 40ms;
    
}

.frente{ 
    transform: rotateY(180deg);

}
.costa{ 
    background-image: url(/Img/fundo-card.jpg);
    background-position: center;
    backface-visibility: hidden;
   
}

.virar-Carta{
    transform: rotateY(180deg);

}

.acerto-carta{
    opacity: 0.8;
    filter: saturate(0);
  
}

.fundo-vitoria{
    position: absolute;
    width: 100%;
    height: 884px;
    background-color: rgba(117, 117, 117, 0.76);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.vitoria{
    position: absolute;
    background-size: contain;
    height: 500px;
    width: 500px;
    border: 5px solid black;
    border-radius: 20px;
    background-color: rgb(71, 150, 228);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    ;
}


.vitoria img{
    width: 250px;
    margin: 5px;
    margin-right: 25px;
}

.vitoria h2{
    font-size: 40px;
}

.btn-jogar-novamente{
    margin: 10px;
    width: 200px;
    height: 50px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    
}


.btn-jogar-novamente:hover{
    cursor: pointer;
    border: 1px solid rgb(51, 50, 50);
    background-color: #db55aa;
    width: 220px;

}